{% load i18n %}
{% load bootstrap3 %}
<div aria-hidden="true" role="dialog" id="{% block modal_id %}{% endblock %}" class="modal fade inmodal">
    <div class="modal-dialog {% block modal_class %}{% endblock %}">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-hidden="true">{% bootstrap_icon "glyphicon glyphicon-remove-circle" %}</a>
                <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
                <small>{% block modal_comment %}{% endblock %}</small>
            </div>
            <div class="modal-body">
              {% block modal_body %}
              {% endblock %}
            </div>
            <div class="modal-footer">
              {% block modal_button %}
              <button data-dismiss="modal" class="btn btn-white" type="button">{% trans "Close" %}</button>
              <button class="btn btn-primary" type="button" id="{% block modal_confirm_id %}{% endblock %}">{% trans 'Confirm' %}</button>
              {% endblock %}
            </div>
        </div>
    </div>
</div>