{% extends 'assets/_system_user.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block auth %}
    {% bootstrap_field form.password layout="horizontal" %}
    {% bootstrap_field form.private_key_file layout="horizontal" %}
    <div class="form-group">
        <label for="{{ form.as_push.id_for_label }}" class="col-bg-3 col-md-3 col-sm-4 col-xs-4 control-label">{% trans 'Auto push' %}</label>
        <div class="col-bg-8 col-md-7 col-sm-7 col-xs-8">
            {{ form.auto_push}}
        </div>
    </div>
{% endblock %}

